@font-face {
    font-family: 'OpenSans';
    src: url('../../shared/assets/fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
}
  
@font-face {
    font-family: 'OpenSans';
    src: url('../../shared/assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}
  
@font-face {
    font-family: 'OpenSans';
    src: url('../../shared/assets/fonts/OpenSans/OpenSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}
  
@font-face {
    font-family: 'OpenSans';
    src: url('../../shared/assets/fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
}
  
  @font-face {
    font-family: 'OpenSans';
    src: url('../../shared/assets/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'ViaodaLibre';
    src: url('../../shared/assets/fonts/ViaodaLibre/ViaodaLibre-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'DaysOne';
    src: url('../../shared/assets/fonts/DaysOne/DaysOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

body {
    margin: 0;
    font-family: 'OpenSans', sans-serif;
}

h1 {
    font-family: 'ViaodaLibre', serif;
  }
  
html {
    scroll-behavior: smooth;
  }