.header {
    height: 120px;
    background: rgba(0, 0, 0, 0.85);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    box-sizing: border-box;
    position: relative;
    z-index: 20;
    font-weight: 700;
}
  
.logoBlock {
    display: flex;
    align-items: center;
    gap: 13px;
}
  
.logoIcon {
    width: 60px;
    height: 60px;
}
  
.logoText {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    font-family: 'DaysOne';
}
  
.actions {
    display: flex;
    align-items: center;
    gap: 40px;
}
  
.userPageButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
  
.doorIcon {
    width: 60px;
    height: 60px;
    filter: brightness(0) invert(1);
}