.tableWrapper {
    width: 100%;
}
  
.table {
    width: 100%;
    border-collapse: collapse;
  
    font-family: 'OpenSans', sans-serif;
    font-weight: 300;
    font-size: clamp(16px, 1.25vw, 32px);
    line-height: 16px;
    color: #000000;
}
  
.table thead {
    background:  rgba(208,208,208,0.2);
}
  
.table th {
    padding:19px 20px;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    font-size: clamp(18px, 1.45vw, 37px);
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}
  
.table td {
    padding: 9px 12px;
    border-bottom: 1px solid #bdbdbd;
    vertical-align: middle;
    
}
  
.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.iconButton,
.editButton,
.deleteButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
  
.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.eyeIcon,
.editIcon,
.deleteIcon
{
    width: clamp(20px, 1vw, 53px);
    height: clamp(20px, 1vw, 53px);
}

.empty {
    margin: 20px 0 0;
  
    font-family: 'OpenSans', sans-serif;
    font-size: 15px;
    color: #e30000;
}