.card {
    width: 650px;
    background: #ffffff;
    box-sizing: border-box;
}
  
.containerTitl {
    height: 65px;
    background:  #0097a7;;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    padding: 12px 12px;
    box-sizing: border-box;
}
  
.containerTitleLogo {
    display: flex;
    align-items: center;
    gap: 20px;
}
  
.userLogo {
    width: 58px;
    height: 58px;
}
  
.title {
    font-family: 'OpenSans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 16px;
    font-weight: 600;
    color: #ffffff;
}
  
.closeButton {

    background: none;
    border: none;
    padding: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    cursor: pointer;
}
  
.crossIcon {
    width: 22px;
    height: 22px;
}
  
.content {
    padding: 40px 50px 60px;
    box-sizing: border-box;
}
  
.mainInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  
    margin-bottom: 20px;
}
  
.fullName {
    margin: 0 0 10px;
  
    font-family: 'OpenSans', sans-serif;
    font-size: 20px;
    line-height: 16px;
    font-weight: 600;
    color: #000000;
}
  
.role {
    margin: 0;
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    line-height: 16px;
    color: #000000;
}
  
.status {
    margin: 0;
  
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    line-height: 16px;
    color: #000000;
}
  
.infoBox {
    border: 1px  solid #808080;
    padding: 14px 58px;
    box-sizing: border-box;
  
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    margin-bottom: 20px;
}
  
.row {
    display: grid;
    grid-template-columns: 130px 1fr;
    column-gap: 50px;
  
    font-family: 'OpenSans', sans-serif;
    font-size: 15px;
    line-height: 17px;
}
  
.row span {
    color: #000000;
}
  
.row strong {
    font-weight: 500;
    color: #4a4a4a;
}
